<!DOCTYPE html>
<html class="loading" lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- BEGIN : Head-->

<head>
    <head th:replace="fragments :: page_head"/>
    <title>Add User</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/ico/favicon.ico}">
</head>
<!-- END : Head-->

<!-- BEGIN : Body-->

<body class="horizontal-layout horizontal-menu horizontal-menu-padding 2-columns  navbar-sticky" data-open="hover"
      data-menu="horizontal-menu" data-col="2-columns">
<div th:replace="fragments :: page_header"/>
<!-- Navbar (Header) Ends-->

<!-- ////////////////////////////////////////////////////////////////////////////-->
<div class="wrapper">
    <div th:replace="fragments :: page_menu"/>


    <div class="main-panel">
        <!-- BEGIN : Main Content-->
        <div class="main-content">
            <div class="content-overlay"></div>
            <div class="content-wrapper">
                <section class="users-list-wrapper">
                    <!-- Filter starts -->
                    <div class="users-list-filter px-2">


                        <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-right">
                            <a class="btn btn-primary bg-light-primary mb-1" th:href="@{/user/list}"><i
                                    class="fa fa-list mr-1"></i>User List</a>
                        </div>
                    </div>

                    <!-- Filter ends -->

                    <!-- Table starts -->


                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">

                                        <div class="tab-content">
                                            <!-- Account content starts -->
                                            <div class="tab-pane fade mt-2 show active" id="account" role="tabpanel"
                                                 aria-labelledby="account-tab">

                                                <!-- Account form starts -->
                                                <form novalidate
                                                      th:action="@{/user/update}"  method="post" th:object="${user}" >

                                                    <div class="row">
                                                        <div class="col-12 col-md-6">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label for="firstname">Firstname</label>
                                                                    <input type="text" id="firstname"
                                                                           th:field="*{firstName}"
                                                                           class="form-control" placeholder="firstname"
                                                                           required
                                                                           aria-invalid="false">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label for="users-edit-password">Password</label>
                                                                    <input type="password" id="users-edit-password"
                                                                           class="form-control" placeholder="Password"
                                                                           th:field="*{passWord}"
                                                                           aria-invalid="false" readonly>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label for="users-edit-email2">E-mail</label>
                                                                    <input type="email" id="users-edit-email2"
                                                                           th:field="*{email}"
                                                                           class="form-control" placeholder="Email"
                                                                           required
                                                                           aria-invalid="false">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label >Company</label>
                                                                    <select  th:field="*{company}" class="custom-select">
                                                                        <option th:text="Select" th:value="''"></option>
                                                                        <option th:each="company : ${companies}"
                                                                                th:text="${company.title}"
                                                                                th:value="${company.id}"></option>

                                                                    </select>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="col-12 col-md-6">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label for="users-edit-company1">Lastname</label>
                                                                    <input type="text" id="users-edit-company1"
                                                                           th:field="*{lastName}"
                                                                           class="form-control" placeholder="Lastname"
                                                                           required>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label for="users-edit-company">Phone</label>
                                                                    <input type="text" id="users-edit-company"
                                                                           th:field="*{phone}"
                                                                           class="form-control"
                                                                           placeholder="9734157843"
                                                                           required>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label for="users-edit-role">Role</label>
                                                                    <select id="users-edit-role" class="form-control"
                                                                            required >
                                                                        <option th:value="''" th:text="Select"></option>
                                                                        <option th:each="role : ${roles}"
                                                                                th:value="${role.id}"
                                                                                th:text="${role.name}"></option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label>Choose a Status</label>
                                                                    <select  th:field="*{userStatus}" class="custom-select">
                                                                        <option th:value="''" th:text="Select"></option>
                                                                        <option th:each="status : ${UserStatus}"
                                                                                th:value="${status}" th:text="${status.value}"></option>

                                                                    </select>


                                                                </div>



                                                            </div>
                                                        </div>
                                                        <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-3 mt-sm-2">
                                                            <button type="submit"
                                                                    class="btn btn-primary mb-2 mb-sm-0 mr-sm-2">
                                                                Save Changes
                                                            </button>


                                                            <a   class="btn btn-danger mb-2 mb-sm-0 mr-sm-2"
                                                                 th:href="@{/user/delete/{id}(id=${user.getEmail()})}">
                                                                Delete User
                                                            </a>

                                                        <a   class="btn btn-secondary"
                                                             th:href="@{/user/list}">
                                                            Cancel
                                                        </a>


                                                        </div>
                                                    </div>
                                                </form>
                                                <!-- Account form ends -->
                                            </div>
                                            <!-- Account content ends -->


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Table ends -->
                </section>

            </div>
        </div>
        <!-- END : End Main Content-->


        <!-- Scroll to top button -->
        <button class="btn btn-primary scroll-top" type="button"><i class="ft-arrow-up"></i></button>

    </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->

<footer th:replace="fragments :: page_footer"></footer>
<div class="sidenav-overlay"></div>
<!-- BEGIN PAGE LEVEL JS-->
<script th:src="@{/js/dashboard2.js}"></script>
<!-- END PAGE LEVEL JS-->
<!-- BEGIN: Custom CSS-->
<script th:src="@{/assets/js/scripts.js}"></script>
<!-- END: Custom CSS-->
</body>
<!-- END : Body-->

</html>