<!DOCTYPE html>
<html class="loading" lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- BEGIN : Head-->

<head>
    <head th:replace="fragments :: page_head"/>
    <title>Add User</title>
    <link rel="shortcut icon" th:href="@{/img/ico/favicon.ico}" type="image/x-icon">
</head>
<!-- END : Head-->

<!-- BEGIN : Body-->

<body class="horizontal-layout horizontal-menu horizontal-menu-padding 2-columns  navbar-sticky" data-col="2-columns"
      data-menu="horizontal-menu" data-open="hover">
<div th:replace="fragments :: page_header"/>
<!-- Navbar (Header) Ends-->

<!-- ////////////////////////////////////////////////////////////////////////////-->
<div class="wrapper">
    <div th:replace="fragments :: page_menu"/>


    <div class="main-panel">
        <!-- BEGIN : Main Content-->
        <div class="main-content">
            <div class="content-overlay"></div>
            <div class="content-wrapper">
                <section class="users-list-wrapper">
                    <!-- Filter starts -->
                    <div class="users-list-filter px-2">


                        <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-right">
                            <a class="btn btn-primary bg-light-primary mb-1" th:href="@{/user/list}"> <i
                                    class="fa fa-list mr-1"> </i>User List</a>
                        </div>
                    </div>

                    <!-- Filter ends -->

                    <!-- Table starts -->


                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">

                                        <div class="tab-content">
                                            <!-- Account content starts -->
                                            <div aria-labelledby="account-tab" class="tab-pane fade mt-2 show active"
                                                 id="account"
                                                 role="tabpanel">

                                                <!-- Account form starts -->

                                                <form method="post" th:action="@{/user/add}" th:object="${user}">
                                                    <div class="row">
                                                        <div class="col-12 col-md-6">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label for="firstname">Firstname</label>
                                                                    <input aria-invalid="false" class="form-control"
                                                                           id="firstname"
                                                                           placeholder="firstname" required
                                                                           th:field="*{firstName}"
                                                                           type="text">
                                                                    <span class="help-block" th:if="${#fields.hasErrors('firstName')}">
                                                                        <ul>
                                                                            <p class="text-danger" th:each="err : ${#fields.errors('firstName')}" th:text="${err}"/>
                                                                        </ul>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label for="users-edit-password">Password</label>
                                                                    <input aria-invalid="false" class="form-control"
                                                                           id="users-edit-password"
                                                                           placeholder="Password" required
                                                                           th:field="*{passWord}"
                                                                           type="password">
                                                                    <span class="help-block" th:if="${#fields.hasErrors('passWord')}">
                                                                        <ul>
                                                                            <p class="text-danger" th:each="err : ${#fields.errors('passWord')}" th:text="${err}"/>
                                                                        </ul>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label for="users-edit-email2">E-mail</label>
                                                                    <input aria-invalid="false" class="form-control"
                                                                           id="users-edit-email2"
                                                                           placeholder="Email" required
                                                                           th:field="*{email}"
                                                                           type="email">
                                                                    <span class="help-block" th:if="${#fields.hasErrors('email')}">
                                                                        <ul>
                                                                            <p class="text-danger" th:each="err : ${#fields.errors('email')}" th:text="${err}"/>
                                                                        </ul>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label>Company</label>
                                                                    <select class="custom-select" th:field="*{company}">
                                                                        <option th:text="Select" th:value="''"></option>
                                                                        <option th:each="company : ${companies}"
                                                                                th:text="${company.title}"
                                                                                th:value="${company.id}"></option>

                                                                    </select>
                                                                    <span class="help-block" th:if="${#fields.hasErrors('company')}">
                                                                        <ul>
                                                                            <p class="text-danger" th:each="err : ${#fields.errors('company')}" th:text="${err}"/>
                                                                        </ul>
                                                                    </span>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="col-12 col-md-6">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label for="users-edit-company1">Lastname</label>
                                                                    <input class="form-control" id="users-edit-company1"
                                                                           placeholder="Lastname"
                                                                           required th:field="*{lastName}"
                                                                           type="text">
                                                                    <span class="help-block" th:if="${#fields.hasErrors('lastName')}">
                                                                        <ul>
                                                                            <p class="text-danger" th:each="err : ${#fields.errors('lastName')}" th:text="${err}"/>
                                                                        </ul>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label for="users-edit-company">Phone</label>
                                                                    <input class="form-control" id="users-edit-company"
                                                                           placeholder="9734157843"
                                                                           required
                                                                           th:field="*{phone}"
                                                                           type="text">
                                                                    <span class="help-block" th:if="${#fields.hasErrors('phone')}">
                                                                        <ul>
                                                                            <p class="text-danger" th:each="err : ${#fields.errors('phone')}" th:text="${err}"/>
                                                                        </ul>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label>Choose a Role</label>
                                                                    <select class="custom-select" th:field="*{role}">
                                                                        <option th:text="Select" th:value="''"></option>
                                                                        <option th:each="role : ${roles}"
                                                                                th:text="${role.name}"
                                                                                th:value="${role.id}"></option>
                                                                    </select>
                                                                    <span class="help-block" th:if="${#fields.hasErrors('role')}">
                                                                        <ul>
                                                                            <p class="text-danger" th:each="err : ${#fields.errors('role')}" th:text="${err}"/>
                                                                        </ul>
                                                                    </span>

                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label>Choose a Status</label>
                                                                    <select class="custom-select"
                                                                            th:field="*{userStatus}">
                                                                        <option th:text="Select" th:value="''"></option>
                                                                        <option th:each="status : ${UserStatus}"
                                                                                th:text="${status.value}"
                                                                                th:value="${status}"></option>

                                                                    </select>
                                                                    <span class="help-block" th:if="${#fields.hasErrors('userStatus')}">
                                                                        <ul>
                                                                            <p class="text-danger" th:each="err : ${#fields.errors('userStatus')}" th:text="${err}"/>
                                                                        </ul>
                                                                    </span>

                                                                </div>


                                                            </div>
                                                        </div>


                                                        <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-3 mt-sm-2">
                                                            <button class="btn btn-primary mb-2 mb-sm-0 mr-sm-2"
                                                                    type="submit"> Save Changes
                                                            </button>
                                                            <button class="btn btn-secondary">Cancel</button>
                                                        </div>
                                                    </div>
                                                </form>
                                                <!-- Account form ends -->
                                            </div>
                                            <!-- Account content ends -->


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Table ends -->
                </section>

            </div>
        </div>
        <!-- END : End Main Content-->


        <!-- Scroll to top button -->
        <button class="btn btn-primary scroll-top" type="button"><i class="ft-arrow-up"></i></button>

    </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->

<footer th:replace="fragments :: page_footer"></footer>
<div class="sidenav-overlay"></div>
<!-- BEGIN PAGE LEVEL JS-->
<script th:src="@{/js/dashboard2.js}"></script>
<!-- END PAGE LEVEL JS-->
<!-- BEGIN: Custom CSS-->
<script th:src="@{/assets/js/scripts.js}"></script>
<!-- END: Custom CSS-->
</body>
<!-- END : Body-->

</html>










