<!DOCTYPE html>
<html class="loading" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments :: page_head"><title>Create Purchase Invoice</title></head>
    <title>Add-Line | Purchase | Invoice</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/ico/favicon.ico}">
</head>

<body class="horizontal-layout horizontal-menu horizontal-menu-padding 2-columns  navbar-sticky" data-open="hover"
      data-menu="horizontal-menu" data-col="2-columns">
<div th:replace="fragments :: page_header"></div>
<div class="wrapper">
    <div th:replace="fragments :: page_menu"></div>
    <div class="main-panel">
        <div class="main-content">
            <div class="content-overlay"></div>
            <div class="content-wrapper">
                <section class="users-list-wrapper">
                    <!-- PURCHASE INVOICE LIST LINK -->
                    <div class="users-list-filter px-2">
                        <!--todo Bahrom Vitaly - changed button to simple - no need to change unless required by funcionality -->
                        <form>
                            <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-right">
                                <a class="btn btn-primary bg-light-primary mb-1"
                                   th:href="@{/invoice/purchaseInvoiceList}">
                                    <i class="fa fa-list mr-1"></i>Purchase Invoice List
                                </a>
                            </div>
                        </form>
                    </div>
                    <!-- PURCHASE INVOICE LIST LINK END-->
                    <!-- FORMS BEGIN -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="tab-content">
                                            <div class="tab-pane fade mt-2 show active" id="account" role="tabpanel"
                                                 aria-labelledby="account-tab">
                                                <!-- INVOICE PART BEGIN-->
                                                <form class="needs-validation" novalidate th:action="@{/invoice/purchaseInvoiceCreate/{id}(id=${invoiceDTO.getId()})}" method="post" th:object="${invoiceDTO}">
                                                    <div class="row">
                                                        <div class="col-12 col-md-4">
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label>Vendor</label>
                                                                    <select class="custom-select" required="required" th:field="*{companyName}">
                                                                        <option th:value="' '"
                                                                                th:text="Select"></option>
                                                                        <option th:each="vendor: ${vendors}"
                                                                                th:text="${vendor.companyName}"
                                                                                th:value="${vendor.companyName}"
                                                                        ></option>
                                                                    </select>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- INVOICE PART END -->
                                                    <div class="needs-validation" novalidate>
                                                        <div class="row">
                                                            <div class="col-12 col-md-3">
                                                            </div>
                                                            <div class="col-12 col-md-3">
                                                            </div>
                                                            <div class="col-12 col-md-3">
                                                            </div>
                                                            <div class="col-12 col-md-3">
                                                            </div>
                                                            <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-3 mt-sm-2">
                                                                <button type="submit" name="action" value="addItem"
                                                                        class="btn btn-warning mb-2 mb-sm-0 mr-sm-2"
                                                                        >Select Company
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-3 mt-sm-2">
                                                    <form action="#"
                                                          th:action="@{/invoice/purchaseInvoiceList}">
                                                        <button class="btn btn-danger mb-2 mb-sm-0 mr-sm-2"
                                                                type="submit" name="action" value="cancel">Cancel
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FORMS END -->
                </section>
            </div>
        </div>
        <button class="btn btn-primary scroll-top" type="button"><i class="ft-arrow-up"></i></button>
    </div>
</div>

<footer th:replace="fragments :: page_footer"></footer>
<div class="sidenav-overlay"></div>
<div class="drag-target"></div>
<script th:src="@{/js/dashboard2.js}"></script>
<script th:src="@{/assets/js/scripts.js}"></script>
</body>

</html>