<!DOCTYPE html>
<html class="loading" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- BEGIN : Head-->

<head>
    <head th:replace="fragments :: page_head"/>
    <title>Main2</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/logos/logo-color-big.png}">
    <!-- END Page Level CSS-->
</head>
<!-- END : Head-->

<!-- BEGIN : Body-->

<body class="horizontal-layout horizontal-menu horizontal-menu-padding 2-columns  navbar-sticky" data-open="hover"
      data-menu="horizontal-menu" data-col="2-columns">

<nav class="navbar navbar-expand-lg navbar-light header-navbar navbar-fixed">
    <div class="container-fluid navbar-wrapper">
        <div class="navbar-header d-flex">
            <div class="navbar-toggle menu-toggle d-xl-none d-block float-left align-items-center justify-content-center"
                 data-toggle="collapse"><i class="ft-menu font-medium-3"></i></div>
            <ul class="navbar-nav">
                <li class="nav-item mr-2 d-none d-lg-block"><a class="nav-link apptogglefullscreen"
                                                               id="navbar-fullscreen" href="javascript:;"><i
                        class="ft-maximize font-medium-3"></i></a></li>
                <li class="nav-item nav-search"><a class="nav-link nav-link-search" href="javascript:"><i
                        class="ft-search font-medium-3"></i></a>
                    <div class="search-input">
                        <div class="search-input-icon"><i class="ft-search font-medium-3"></i></div>
                        <input class="input" type="text" placeholder="Explore Apex..." tabindex="0"
                               data-search="template-search">
                        <div class="search-input-close"><i class="ft-x font-medium-3"></i></div>
                        <ul class="search-list"></ul>
                    </div>
                </li>
<!--                <li class="nav-item mr-2 d-none d-lg-block" th:text="'Logged in as: '+${#authentication.getPrincipal().getFirstName() + ' ' + #authentication.getPrincipal().getLastName()}"></li>-->
            </ul>
            <div class="navbar-brand-center">
                <div class="navbar-header">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <div class="logo"><a class="logo-text" th:href="@{/main2}">
<!--                                <span class="text">CYDEO</span>-->
                                <span><h3 th:text="${#authentication.getPrincipal().getCompany().getTitle()}" style="color: #0b2e13"></h3></span>
                            </a></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="navbar-container main-menu-content center-layout dropleft" data-menu="menu-container">
            <ul class="navigation-main nav navbar-nav" data-menu="menu-navigation">
                <li class="dropdown nav-item" data-menu="dropdown"><a
                        class="dropdown-toggle nav-link d-flex align-items-center" href="javascript:;"
                        data-toggle="dropdown"><i class="ft-activity" style="color: #00b3ff"></i><span
                        data-i18n="Apps" class="person" ></span></a>
                    <ul class="dropdown-menu">
                        <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="#"
                                            data-toggle="dropdown">
<!--                            <i class="ft-archive" style="color: #00b3ff"></i>-->
                            <span th:text="${#authentication.getPrincipal().getFirstName() + ' ' + #authentication.getPrincipal().getLastName()}"data-i18n="Chat" style="color: #0e0c28"></span></a>
                        </li>
                        <li data-menu=""><a class="dropdown-item d-flex align-items-center"
                                            href="#"
                                            data-toggle="dropdown">
<!--                            <i class="ft-alert-circle" style="color: #00b3ff"></i>-->
                            <span data-i18n="Task Board" style="color: #0e0c28"
                                th:text="${#authentication.getPrincipal().getEmail()}"></span></a>
                        </li>
                        <li data-menu=""><a class="dropdown-item d-flex align-items-center"
                                            th:href="@{/logout}"
                                            data-toggle="dropdown">
<!--                            <i class="ft-arrow-right submenu-icon" style="color: #00b3ff"></i>-->
                            <span data-i18n="Task Board" style="color: #0e0c28">Logout</span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</nav>
<!-- Navbar (Header) Ends-->

<!-- ////////////////////////////////////////////////////////////////////////////-->
<div class="wrapper">


    <div class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-light navbar-shadow menu-border navbar-brand-center"
         role="navigation" data-menu="menu-wrapper">
        <!-- Horizontal menu content-->
        <div class="navbar-container main-menu-content center-layout" data-menu="menu-container">
            <!-- include ../../../includes/mixins-->
            <ul class="navigation-main nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">
                <li data-menu=""><a class="dropdown-toggle nav-link d-flex align-items-center" href="dashboard.html"
                                    data-toggle="dropdown"><i class="ft-home"></i><span
                        data-i18n="Dashboard">Home Page</span></a>
                </li>
                <li class="dropdown nav-item" data-menu="dropdown" sec:authorize="hasAnyAuthority('Root','Admin','Manager')"><a
                        class="dropdown-toggle nav-link d-flex align-items-center" href="javascript:;"
                        data-toggle="dropdown"><i class="ft-box"></i><span data-i18n="Apps">Management</span></a>
                    <ul class="dropdown-menu">
                        <li data-menu="" sec:authorize="hasAnyAuthority('Root')">
                            <a class="dropdown-item d-flex align-items-center" th:href="@{/company/list}"
                                            data-toggle="dropdown"><i class="ft-arrow-right submenu-icon"></i><span
                                data-i18n="Email">Company Registration</span></a>
                        </li>
                        <li data-menu="" sec:authorize="hasAnyAuthority('Root','Admin')">
                            <a class="dropdown-item d-flex align-items-center" th:href="@{/user/add}"
                                            data-toggle="dropdown"><i class="ft-arrow-right submenu-icon"></i><span
                                data-i18n="Chat">User Registration</span></a>
                        </li>
                        <li data-menu="" sec:authorize="hasAnyAuthority('Manager')">
                            <a class="dropdown-item d-flex align-items-center" th:href="@{/client-vendor/add}"
                                             data-toggle="dropdown"><i
                                class="ft-arrow-right submenu-icon"></i><span data-i18n="Task Board">Vendor/Client Registration</span></a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown nav-item" data-menu="dropdown" sec:authorize="hasAnyAuthority('Manager')"><a
                        class="dropdown-toggle nav-link d-flex align-items-center" href="javascript:;"
                        data-toggle="dropdown"><i class="ft-aperture"></i><span
                        data-i18n="UI Kit">Stock Management</span></a>
                    <ul class="dropdown-menu">
                        <li data-menu=""><a class="dropdown-item d-flex align-items-center" th:href="@{/product/list}"
                                            data-toggle="dropdown"><i class="ft-arrow-right submenu-icon"></i><span
                                data-i18n="Grid">Products</span></a>
                        </li>
                        <li data-menu=""><a class="dropdown-item d-flex align-items-center" th:href="@{/category/category-list}"
                                            data-toggle="dropdown"><i class="ft-arrow-right submenu-icon"></i><span
                                data-i18n="Typography">Category</span></a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown nav-item" data-menu="dropdown" sec:authorize="hasAnyAuthority('Manager','Employee')"><a
                        class="dropdown-toggle nav-link d-flex align-items-center" href="javascript:;"
                        data-toggle="dropdown"><i class="ft-briefcase"></i><span data-i18n="Components">Invoices</span></a>
                    <ul class="dropdown-menu">

                        <li data-menu=""><a class="dropdown-item d-flex align-items-center"
                                            th:href="@{/invoice/purchaseInvoiceList}" data-toggle="dropdown"><i
                                class="ft-arrow-right submenu-icon"></i><span
                                data-i18n="Grid">Purchase Invoice</span></a>
                        </li>
                        <li data-menu=""><a class="dropdown-item d-flex align-items-center"
                                            th:href="@{/invoice/salesInvoiceList}" data-toggle="dropdown"><i
                                class="ft-arrow-right submenu-icon"></i><span
                                data-i18n="Typography">Sales Invoice</span></a>
                        </li>
<!--                        TODO: Vitaly and Bahrom-->
<!--                        <li data-menu=""><a class="dropdown-item d-flex align-items-center"-->
<!--                                            href="invoice/purchase-invoice-list.html" data-toggle="dropdown"><i-->
<!--                                class="ft-arrow-right submenu-icon"></i><span data-i18n="Grid">Invoice Search</span></a>-->
<!--                        </li>-->
                    </ul>
                </li>
                <li class="dropdown nav-item" data-menu="dropdown" sec:authorize="hasAnyAuthority('Manager','Employee')"><a
                        class="dropdown-toggle nav-link d-flex align-items-center" href="javascript:;"
                        data-toggle="dropdown"><i class="ft-briefcase"></i><span data-i18n="Components">Reporting</span></a>
                    <ul class="dropdown-menu">

                        <li data-menu="" sec:authorize="hasAnyAuthority('Manager','Employee')">
                            <a class="dropdown-item d-flex align-items-center" href="report/stock-report.html"
                                            data-toggle="dropdown"><i class="ft-arrow-right submenu-icon"></i><span
                                data-i18n="Grid">Report Invoices</span></a>
                        </li>
                        <li data-menu="" sec:authorize="hasAnyAuthority('Manager')">
                            <a class="dropdown-item d-flex align-items-center"
                                            href="report/profit-loss-report.html" data-toggle="dropdown"><i
                                class="ft-arrow-right submenu-icon"></i><span data-i18n="Typography">Profit / Loss Report</span></a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown nav-item softer" data-menu="dropdown" style="background: rgba(213,217,139,0.8)" sec:authorize="hasAnyAuthority('Manager')"><a
                        class="dropdown-toggle nav-link d-flex align-items-center" href="javascript:;"
                        data-toggle="dropdown"><i class="ft-archive"></i><span data-i18n="Components">Administration</span></a>
                    <ul class="dropdown-menu">

                        <li data-menu=""><a th:href="@{/payment/list}" class="dropdown-item d-flex align-items-center"
                                            data-toggle="dropdown"><i class="ft-arrow-right submenu-icon"></i><span
                                data-i18n="Grid">MemberShip Payment</span></a>
                        </li>
                        <li data-menu=""><a class="dropdown-item d-flex align-items-center"
                                            data-toggle="dropdown"><i class="ft-arrow-right submenu-icon"></i><span
                                data-i18n="Typography">Log Document</span></a>
                        </li>
                    </ul>
                </li>
                

            </ul>
        </div>
    </div>

    <div class="main-panel">
        <!-- BEGIN : Main Content-->
        <div class="main-content">
            <div class="content-overlay"></div>
            <div class="content-wrapper">
                <div class="row">

                    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                        <div class="card bg-info bg-lighten-3">
                            <div class="card-content">
                                <div class="card-body py-0">
                                    <div class="media">
                                        <div class="media-body info text-left">
                                            <h3 class="font-large-1 info mb-0">$15,678</h3>
                                            <span>Total Cost</span>
                                        </div>
                                        <div class="media-right info text-right">
                                            <i class="ft-percent font-large-1"></i>
                                        </div>
                                    </div>
                                </div>
                                <div id="Widget-line-chart"
                                     class="height-75 WidgetlineChart WidgetlineChartShadow WidgetChart1 mb-3"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                        <div class="card bg-warning bg-lighten-3">
                            <div class="card-content">
                                <div class="card-body py-0">
                                    <div class="media">
                                        <div class="media-body warning text-left">
                                            <h3 class="font-large-1 warning mb-0">$2156</h3>
                                            <span>Total Tax</span>
                                        </div>
                                        <div class="media-right warning text-right">
                                            <i class="ft-activity font-large-1"></i>
                                        </div>
                                    </div>
                                </div>
                                <div id="Widget-line-chart2"
                                     class="height-75 WidgetlineChart WidgetlineChartShadow WidgetChart2 mb-3"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                        <div class="card bg-primary bg-lighten-3">
                            <div class="card-content">
                                <div class="card-body py-0">
                                    <div class="media">
                                        <div class="media-body primary text-left">
                                            <h3 class="font-large-1 primary mb-0">$45,668</h3>
                                            <span>Total Sales</span>
                                        </div>
                                        <div class="media-right primary text-right">
                                            <i class="ft-trending-up font-large-1"></i>
                                        </div>
                                    </div>
                                </div>
                                <div id="Widget-line-chart3"
                                     class="height-75 WidgetlineChart WidgetlineChartShadow WidgetChart3 mb-3"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                        <div class="card bg-success bg-lighten-3">
                            <div class="card-content">
                                <div class="card-body py-0">
                                    <div class="media">
                                        <div class="media-body success text-left">
                                            <h3 class="font-large-1 success mb-0">$32,454</h3>
                                            <span>Total Earning</span>
                                        </div>
                                        <div class="media-right success text-right">
                                            <i class="ft-credit-card font-large-1"></i>
                                        </div>
                                    </div>
                                </div>
                                <div id="Widget-line-chart4"
                                     class="height-75 WidgetlineChart WidgetlineChartShadow WidgetChart4 mb-3"></div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row match-height">


                    <div class="col-xl-8 col-lg-12 col-12">
                        <div class="card shopping-cart">
                            <div class="card-header pb-2">
                                <h4 class="card-title mb-1">Invoices Cart</h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body p-0">
                                    <div class="table-responsive">
                                        <table class="table text-center m-0">
                                            <thead>
                                            <tr>
                                                <th>Invoice Code</th>
                                                <th>Date</th>
                                                <th>Total Amount</th>
                                                <th>Type</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>INV-001</td>
                                                <td>2/12/2021</td>
                                                <td>$19.94</td>
                                                <td>
                                                    <span class="badge badge-pill bg-light-primary cursor-pointer">Sales</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>INV-002</td>
                                                <td>2/12/2021</td>
                                                <td>$99.00</td>
                                                <td>
                                                    <span class="badge badge-pill bg-light-success cursor-pointer">Purchase</span>
                                                </td>


                                            </tr>
                                            <tr>
                                                <td>INV-003</td>
                                                <td>2/12/2021</td>
                                                <td>$299.00</td>
                                                <td>
                                                    <span class="badge badge-pill bg-light-primary cursor-pointer">Sales</span>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-xl-4 col-lg-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <span>Currency Exchange List</span>
                                        <span class="float-right cursor-pointer">
                                                <i class="ft-more-vertical-"></i>
                                            </span>
                                    </h4>
                                    <p class="grey">Time </p>
                                    <ul class="list-group mb-3">
                                        <li class="list-group-item">
                                            <span>Euro</span>
                                            <span class="badge bg-light-primary float-right">2.5k</span>
                                        </li>
                                        <li class="list-group-item">
                                            <span>British Pound</span>
                                            <span class="badge bg-light-info float-right">3.7k</span>
                                        </li>
                                        <li class="list-group-item">
                                            <span>Canadian Dollar</span>
                                            <span class="badge bg-light-warning float-right">2.3k</span>
                                        </li>
                                        <li class="list-group-item">
                                            <span>Indian Rupee</span>
                                            <span class="badge bg-light-success float-right">4.1k</span>
                                        </li>
                                    </ul>
                                    <button type="button" class="btn btn-primary mr-2">Profile</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- END : End Main Content-->

        <!-- BEGIN : Footer-->

    </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->


<footer th:replace="fragments :: page_footer"></footer>
<div class="sidenav-overlay"></div>
<!-- BEGIN PAGE LEVEL JS-->
<script th:src="@{/js/dashboard2.js}"></script>
<!-- END PAGE LEVEL JS-->
<!-- BEGIN: Custom CSS-->
<script th:src="@{/assets/js/scripts.js}"></script>
<!-- END: Custom CSS-->
</body>
<!-- END : Body-->

</html>