<!DOCTYPE html>
<html class="loading" lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- BEGIN : Head-->

<head>
    <head th:replace="fragments :: page_head"/>
    <title>Payment Page</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/ico/favicon.ico}">
    <!-- END Page Level CSS-->
</head>
<!-- END : Head-->

<!-- BEGIN : Body-->

<body class="horizontal-layout horizontal-menu horizontal-menu-padding 2-columns  navbar-sticky" data-open="hover"
      data-menu="horizontal-menu" data-col="2-columns">

<div th:replace="fragments :: page_header"></div>
<!-- Navbar (Header) Ends-->

<!-- ////////////////////////////////////////////////////////////////////////////-->
<div class="wrapper">
    <div th:replace="fragments :: page_menu"></div>


    <div class="main-panel">
        <!-- BEGIN : Main Content-->
        <div class="main-content">
            <div class="content-overlay"></div>
            <div class="content-wrapper">
                <section class="users-list-wrapper">
                    <!-- Filter starts -->
                    <div class="users-list-filter px-2">


                        <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-right">
                            <a class="btn btn-primary bg-light-primary mb-1" th:href="@{/payment/list}"><i
                                    class="fa fa-list mr-1"></i>Membership Payment</a>
                        </div>
                    </div>
                    <!-- Filter ends -->

                    <!-- Table starts -->


                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">

                                        <div class="tab-content">
                                            <!-- Account content starts -->
                                            <div class="tab-pane fade mt-2 show active" id="account" role="tabpanel"
                                                 aria-labelledby="account-tab">

                                                <!-- Account form starts -->
                                                <form class="needs-validation" novalidate>
                                                    <div class="row">
                                                        <div class="col-12 col-md-6">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label for="users-edit-username">Company Title</label>
                                                                    <select type="text" id="users-edit-username"
                                                                            class="form-control"  >
                                                                        <option
                                                                                selected="selected">

                                                                        </option>
                                                                    </select>

                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label for="email">E-mail</label>
                                                                    <select type="email" id="email"
                                                                            class="form-control"
                                                                            required
                                                                            aria-invalid="false">

                                                                        <option
                                                                        ></option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label for="establishmentdate">INVOICE
                                                                        Date</label>
                                                                    <input type="date" id="establishmentdate"
                                                                           class="form-control"
                                                                           placeholder="establishment date"
                                                                           required
                                                                           aria-invalid="false"

                                                                    >
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-12 col-md-6">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label for="state">Month of Payment</label>
                                                                    <select id="state" class="form-control"
                                                                            required >

                                                                        <option value="">Select</option>
                                                                        <option ></option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label for="status">Amount</label>
                                                                    <select id="status" class="form-control"
                                                                            required >

                                                                        <option value="">Select</option>
                                                                        <option >£</option>
                                                                        <option >£</option>
                                                                        <option >£</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label for="representative">Prepared By</label>
                                                                    <select type="text" id="representative"
                                                                            class="form-control">
                                                                        <option

                                                                                selected="selected">

                                                                        </option>
                                                                    </select>
                                                                    <!--                                                                    <input id="representative" th:text="${paymentuserInfo.getFirstname()+' '+paymentuserInfo.getLastname()}"-->
                                                                    <!--                                                                           class="form-control"-->
                                                                    <!--                                                                           placeholder="representative"-->
                                                                    <!--                                                                           aria-invalid="false"-->
                                                                    <!--                                                                           th:field="*{preparedBy}"-->
                                                                    <!--                                                                    >-->

                                                                </div>
                                                            </div>
                                                        </div>


                                                        <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-3 mt-sm-2">
                                                            <button type="submit"
                                                                    class="btn btn-primary mb-2 mb-sm-0 mr-sm-2">
                                                                Save For Payment
                                                            </button>
                                                            <button type="reset" class="btn btn-secondary">Cancel
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                                <!-- Account form ends -->
                                            </div>
                                            <!-- Account content ends -->


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- Table ends -->
        <!-- Scroll to top button -->
    </div>
    <!-- END : End Main Content-->


    <button class="btn btn-primary scroll-top" type="button"><i class="ft-arrow-up"></i></button>

</div>

<!-- ////////////////////////////////////////////////////////////////////////////-->


<footer th:replace="fragments :: page_footer"></footer>
<div class="sidenav-overlay"></div>
<!-- BEGIN PAGE LEVEL JS-->
<script th:src="@{/js/dashboard2.js}"></script>
<!-- END PAGE LEVEL JS-->
<!-- BEGIN: Custom CSS-->
<script th:src="@{/assets/js/scripts.js}"></script>

</body>
<!-- END : Body-->

</html>